@font-face {
    font-family: 'Extralight';
    src: url(/fonts/SourceSans3-ExtraLight.ttf) format("TrueType");
}
@font-face {
    font-family: 'light';
    src: url(/fonts/SourceSans3-Light.ttf) format("TrueType");
}
@font-face {
    font-family: 'Regular';
    src: url(/fonts/SourceSans3-Regular.ttf) format("TrueType");
}

:root{
    --clr-main:#f7f7f7;
    --clr-text:#000000;
    --clr-background:#ffffff;
    --clr-border:#393E46;
    --body-font-size:12pt;
    --title-font-size:14pt;
    --name-font-size:18pt;
    --footer-font-size:12pt;
    --copyright-font-size:9pt;
}

body {
    font-family: 'light';
    margin: 0%;
    padding: 0%;
   
    /* line-height: 1.6;
    word-spacing: 1.4px; */
    color: var(--clr-text);
    background-color: var(--clr-background);
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    
    
    
  }
main{
    margin: 6%;
    padding: 4%;
    padding-top: 8%;
    padding-bottom: 0%;
    margin-bottom: 6%;
    background-color: var(--clr-main);
    border-style: solid;
    border-radius: 1rem;
    border-width: 1pt;
    font-size: var(--body-font-size);
    
}
#main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem, 1rem;
    /* padding-top: 1rem; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    /* border-style: solid; */
    font-size: var(--body-font-size);
    
    
}
#name{
    font-family: 'Regular';
}
#name-line{
    font-size: var(--name-font-size);
    margin-bottom: 0.2rem;;
}
#pronouns{
    font-family: 'Extralight';
    font-weight: 100;
    font-size: var(--body-font-size);
}
#about{
    flex-direction: column;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* padding-left: 8%; remove padding in media querry */
    /* margin-top: 0.3rem; */
    font-size: 11pt;
    /* border-style: solid; */
}

.interest{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    /* border-style: dashed; */
}
#skills{
    display: grid;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    border-color: var(--clr-border);
    

}
#content{
    
    /* border-color: #000000; */
    padding: 1rem;
    margin: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    /* border-style: double; */

}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 1rem;
    border-width: 1pt;
}
#t-details{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style:dashed; */
    margin: auto;
    
}
#list{
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-around;
    margin-top: 0.5em;
    margin-bottom: 0%;
}
#list-items{
    /* border-style: dashed; */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
    padding: .5em;
    margin-top: 0%;
    margin-bottom: 0%;

}
li{
    list-style: circle;
   
    /* border-style: solid; */
}




footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    /* border-style: solid ; */
    padding-top: 2em;
    

  }

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border-style: solid; */
    
    
}
h2{
    margin: 0%;
    font-family: 'light';
    font-weight: 150;
    font-size: var(--title-font-size);
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 1rem;
    border-width: 1pt;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-color: var(--clr-border);

}

#copyright{
    font-family: 'extralight';
    font-size: var(--copyright-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: 200;
}

a{
    color: var(--body-font-size);
    text-decoration: none;
}
a.hover{
    background-color: var(--clr-border);
    text-decoration: none;
}
